# Zmienne srodowiskowe dla Immich na Raspberry Pi
UPLOAD_LOCATION=/mnt/Dane4T/immich//immich_library
DB_DATA_LOCATION=/mnt/Dane4T/immich/immich_postgres
TZ=Europe/Warsaw
IMMICH_VERSION=release
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
