# --- dyski (sciezki montowania) - dane NIE moga trafic na karte SD ---
# dysk na dane: zdjecia, pobrane pliki, biblioteki (u mnie /mnt/Dane4T)
DANE4T_DIR=

# Zmienne srodowiskowe dla Immich na Raspberry Pi
UPLOAD_LOCATION=${DANE4T_DIR:?}/immich/immich_library
DB_DATA_LOCATION=${DANE4T_DIR:?}/immich/immich_postgres
TZ=Europe/Warsaw
IMMICH_VERSION=release
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
